

<nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand">
        <a id="toggleSidebar" data-toggle="offcanvas" class="handCursor logo hidden-md-up" (click)="toggleSidebar()">
            <span *ngIf="!IsSidebarVisible" class="fa fa-chevron-right fa-fw" title="Show More"></span>
            <span *ngIf="IsSidebarVisible" class="fa fa-chevron-left fa-fw" title="Hide"></span>
        </a>
    </div>
    <h4 class="navbar-brand">Instruments</h4>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link" title="Refresh"><i class="fa fa-refresh fa-fw"></i> <span class="hidden-sm-down">Refresh</span> </a>
        </li>
        <li class="nav-item">
            <a href="#postModal" class="nav-link" title="Add Instrument"><i class="fa fa-plus"></i> <span class="hidden-sm-down">Add Instrument</span> </a>
        </li>

    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
            <button type="button" class="close dropdown-toggle" data-toggle="dropdown"></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="">More</a></li>
                <li><a class="dropdown-item" href="">More</a></li>
                <li><a class="dropdown-item" href="">More</a></li>
                <li><a class="dropdown-item" href="">More</a></li>
                <li><a class="dropdown-item" href="">More</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="workArea">
    <router-outlet>

    </router-outlet>
</div>