<div class="row hidden-sm-down">
    <div class="col-md-4 nopadding full-height">
        <div class="card">
            <div class="card-header">
                My Instruments
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <button type="button" class="close dropdown-toggle" data-toggle="dropdown">

                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="" (click)="CollapseAllInterfaces()" StopPropagation>Collapse all interfaces</a></li>
                            <li><a class="dropdown-item" href="" (click)="ExpandAllInterfaces()" StopPropagation>Expand all interfaces</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="" StopPropagation>Switch to Compact Mode</a></li>
                            <li><a class="dropdown-item" href="" StopPropagation>Show Filter</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="" StopPropagation>View Options</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="instrumentList" class="list-group list-group-flush full-card-body">
                <div id="accordion" role="tabList" aria-multiselectable="true">
                    <div class="card" *ngFor="let interface of Interfaces;">
                        <div class="card-header" id="{{interface.Id}}" role="tab">
                            <div class="row">
                                <a href="#" [ngClass]="{'open': interface.IsCollapse}" [attr.aria-controls]="interface.Header" (click)="toggleInterface(interface)" StopPropagation>
                                    <i class="fa fa-chevron-down"></i> {{interface.Header}}
                                </a>
                            </div>
                        </div>

                        <div class="card-block" [ngClass]="{'panel-collapse collapse in': !interface.IsCollapse, 'collapse':interface.IsCollapse}" role="tabpanel" id="{{interface.Header}}" [attr.aria-labelledby]="'interface.Id'">
                            <button *ngFor="let instrument of interface.Instruments; let isEven=even;" class="list-group-item" [ngClass]="{active:instrument.IsSelected,evenBg:isEven}" (click)="selectInstrument(instrument)">
                                    <div class="row">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <img class="img-rounded instrumentThumb" [src]="getInstrumentImage(instrument)" />
                                                <span class="fa fa-check-circle fa-2x fa-fw success-icon notification"></span>
                                            </div>
                                            <div class="media-body text-xs-left">
                                                <h6 class="list-group-item-heading ">{{instrument.Model}}, {{instrument.Manufacturer}}, {{instrument.Type}}</h6>
                                                <!--<p class="list-group-item-text">{{instrument.Firmware}}</p>-->
                                                <p class="list-group-item-text">{{instrument.Addresses[0].VisaAddress}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-8 nopadding full-height">
        <instrument-detail [Instrument]="SelectedInstrument">

        </instrument-detail>
    </div>
</div>

<div class="row hidden-md-up">
    <div class="card">
        <div class="card-header">
            My Instruments
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <button type="button" class="close dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="" StopPropagation>Switch to Compact Mode</a></li>
                        <li><a class="dropdown-item" href="" StopPropagation>Show Filter</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="" StopPropagation>View Options</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--<div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> "N5182A Signal Generator" connected, do you want <a class="btn btn-info btn-sm">Add</a>            it to current profile?
        </div>-->
        <div class="list-group list-group-flush">
            <div *ngFor="let instrument of Instruments; let isEven=even;" class="list-group-item bg-gray" [ngClass]="{evenBg:isEven}" (click)="selectInstrument(instrument)">
                <div class="row">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object img-rounded instrumentThumbBig" [src]="getInstrumentImage(instrument)" />
                            <span class="fa fa-check-circle fa-3x fa-fw success-icon notification-big"></span>
                        </div>

                        <div class="media-body">
                            <h5 class="list-group-item-heading">{{instrument.Model}}</h5>
                            <p class="list-group-item-text">Manufacturer: {{instrument.Manufacturer}}</p>
                            <p class="list-group-item-text">Serial Number: {{instrument.SerialNumber}}</p>
                            <p class="list-group-item-text">Firmware Version: {{instrument.Firmware}}</p>
                            <!--<p class="list-group-item-text">Type: {{instrument.Type}}</p>-->
                            <p class="list-group-item-text">Web information: Product Page</p>


                            <hr *ngIf="instrument.Addresses" />
                            <div class="row" *ngIf="instrument.Addresses">
                                <h5 class="card-title">Connection Strings</h5>
                                <p class="card-subtitle">VISA Addresses</p>

                                <div *ngFor="let address of instrument.Addresses">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-text"><span class="fa fa-check-circle fa-fw btn-success-outline"></span> {{address.VisaAddress}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <h5 class="card-title">Installed Drivers</h5>

                                <div *ngIf="instrument.Drivers">
                                    <div *ngFor="let driver of instrument.Drivers.Versions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="card-text">{{driver}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!instrument.Drivers">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="card-text">No installed drivers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>