
<div class="row-offcanvas row-offcanvas-left" [ngClass]="{active: IsSidebarVisible}">
    <!-- sidebar -->
    <div class="sidebar-offcanvas" id="sidebar" [ngClass]="{'full-width': ShowFullSidebar, 'compact-width':!ShowFullSidebar}">        
        <div class="hidden-md-down">
            <a id="toggleSidebar" data-toggle="offcanvas" class="handCursor" (click)="toggleSidebar()">
                <span class="fa-stack fa-lg"><i class="fa fa-bars fa-fw fa-stack-1x"></i></span>
            </a>
        </div>


        <ul class="nav hidden-md-down nav-stacked nav-pills"  id="lg-menu">
            <li class="nav-item">
                <a [routerLink]="['Instruments']" class="nav-link" title="Instruments">
                    <span class="fa-stack fa-lg"><i class="fa fa-server fa-fw fa-stack-1x"></i></span>     <span *ngIf="ShowFullSidebar">Instruments</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['Chassises']" class="nav-link" title="Chassis">
                    <span class="fa-stack fa-lg"><i class="fa fa-archive fa-fw fa-stack-1x"></i></span> <span *ngIf="ShowFullSidebar">Chassis</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['Settings']" class="nav-link" title="Settings">
                    <span class="fa-stack fa-lg"><i class="fa fa-cog fa-fw fa-stack-1x"></i></span> <span *ngIf="ShowFullSidebar">Settings</span>
                </a>
            </li>
        </ul>

        <ul class="nav hidden-md-down nav-stacked nav-pills" id="sidebar-footer" title="Help">
            <li class="nav-item">
                <a [routerLink]="['Help']" class="nav-link">
                    <span class="fa-stack fa-lg"><i class="fa fa-question-circle fa-fw fa-stack-1x"></i></span> <span *ngIf="ShowFullSidebar">Help</span>
                </a>
            </li>
        </ul>
        <!-- tiny only nav-->
        <ul class="nav hidden-lg-up" id="xs-menu">
            <li><a [routerLink]="['Instruments']" class="text-center"><span class="fa-stack fa-lg"><i class="fa fa-server fa-fw fa-stack-1x"></i></span> </a></li>
            <li><a [routerLink]="['Chassises']" class="text-center"><span class="fa-stack fa-lg"><i class="fa fa-archive fa-fw fa-stack-1x"></i></span></a></li>
            <li><a [routerLink]="['Settings']" class="text-center"><span class="fa-stack fa-lg"><i class="fa fa-cog fa-fw fa-stack-1x"></i></span></a></li>
            <li><a [routerLink]="['Help']" class="text-center"><span class="fa-stack fa-lg"><i class="fa fa-question-circle fa-fw fa-stack-1x"></i></span></a></li>
        </ul>

    </div>

    <!-- main right col -->
    <div id="main">
        <router-outlet>

        </router-outlet>
    </div>
</div>
