$header-height:48px;
#instrumentList.full-card-body {
    height: calc(100% - #{$header-height});
    overflow-y: auto;
}

#instrumentList .card,
.card-header {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#instrumentList .card-block {
    padding: 0.2rem;
}

#instrumentList .open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#instrumentList i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

#instrumentDetail .full-card-body {
    height: calc(100% - #{$header-height});
    overflow-y: auto;
}

.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.btn-link:focus,
.btn-link:active:focus {
    outline: none;
}